<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      property="og:title"
      content="Braincrumbs - design and developing team"
    />
    <meta
      property="og:image"
      content="https://braincrumbs.io/img/schema-card.png"
    />
    <meta property="og:url" content="https://braincrumbs.io" />
    <link href="favicon.png" rel="shortcut icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700&amp;subset=cyrillic,cyrillic-ext"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@bcrmbs" />
    <meta name="twitter:creator" content="@bcrmbs" />
    <meta name="twitter:title" content="Braincrumbs | design & development" />
    <meta
      name="twitter:description"
      content="Braincrumbs - design and developing team"
    />
    <meta
      name="twitter:image"
      content="https://braincrumbs.io/img/schema-card.png"
    />
  </head>

  <body ontouchstart="">
    <div id="container" class="app-container"></div>
  </body>
</html>
